@model IEnumerable<ShoppingCart.Models.LoginRegister>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
</head>





@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoginRegisterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoginRegisterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoginRegisterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>*@
<body>
    @foreach(var item in Model){
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
	<div class="card p-4">
		<div class=" image d-flex flex-column justify-content-center align-items-center"> 
				 <img src="https://i.imgur.com/wvxPV9S.png" height="100"
                             width="100" />
                     <span class="name mt-3">@item.UserName</span> <span class="idd">@item.Email</span>
			<div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span
					class="idd1">@item.Phone</span> <span><i class="fa fa-copy"></i></span> </div>
			<div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span
						class="follow">Delivery Address : @item.Address</span> </div>
			<div class=" d-flex mt-2"> <a asp-controller="Login" asp-action="Edit" asp-route-id="@item.LoginRegisterId" class="btn1 btn-dark">Edit Profile</a> </div>
			<div class="text mt-3"> <span>Eleanor Pena is a creator of minimalistic x bold graphics and digital
					artwork.<br><br> Artist/ Creative Director by Day #NFT minting with FND night. </span> </div>
			
			<div class=" px-2 rounded mt-4 date "> <span class="join">Phone no : @item.Phone</span> </div>
		</div>
	</div>
</div>
    }
    
</body>
</html>